# compiled output
nestjs-api/dist
nestjs-api/node_modules

# Logs
nestjs-api/logs
nestjs-api/*.log
nestjs-api/npm-debug.log*
nestjs-api/pnpm-debug.log*
nestjs-api/yarn-debug.log*
nestjs-api/yarn-error.log*
nestjs-api/lerna-debug.log*

# OS
nestjs-api/.DS_Store

# Tests
nestjs-api/coverage
nestjs-api/.nyc_output

# IDEs and editors
nestjs-api/.idea
nestjs-api/.project
nestjs-api/.classpath
nestjs-api/.c9/
nestjs-api/*.launch
nestjs-api/.settings/
nestjs-api/*.sublime-workspace

# IDE - VSCode
nestjs-api/.vscode/*
nestjs-api/!.vscode/settings.json
nestjs-api/!.vscode/tasks.json
nestjs-api/!.vscode/launch.json
nestjs-api/!.vscode/extensions.json

nestjs-api/.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/nextjs-web/node_modules
nextjs-web/.pnp
nextjs-web/.pnp.js

# testing
nextjs-web/coverage

# next.js
nextjs-web/.next/
nextjs-web/out/

# production
nextjs-web/build

# misc
nextjs-web/.DS_Store
nextjs-web/*.pem

# debug
nextjs-web/npm-debug.log*
nextjs-web/yarn-debug.log*
nextjs-web/yarn-error.log*

# local env files
nextjs-web/.env*.local

# vercel
nextjs-web/.vercel

# typescript
nextjs-web/*.tsbuildinfo
nextjs-web/next-env.d.ts
