.initialPagePrincipalDiv {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.main {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 290px;
  margin-right: 130px;
}
.divAllProjects {
  display: flex;
  justify-content: center;
}
.divButtonNewProject {
  display: flex;
  justify-content: right;
  width: 100%;
}
.title {
  display: flex;
  margin: 20px 0px 20px 0px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}
.title h1 {
  font-size: 2em;
}
.buttonNewProject {
  color: white;
  border-radius: 5px;
  width: 200px;
  border-style: none;
  background-color: #37A703;
}
.buttonNewProject:hover {
  background-color: #348E09;
  cursor: pointer;
  transition: 0.3s;
}
.projectList {
  width: 95%;
  height: 100%;
}
.projectList > h2 {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}
.projectLink {
  display:flex;
  text-decoration: none;
  height: 100%;
}
.projectDiv:hover {
  background-color: #EEF6FC;
  cursor: pointer;
  transition: 0.3s;
}
.projectDiv:hover button {
  background-color: #EEF6FC;
  cursor: pointer;
  transition: 0.3s;
}
.projectDiv:hover input {
background-color: white;
cursor: pointer;
transition: 0.3s;
}

.projectLink div:nth-of-type(2) {
  display: flex;
  justify-content: right;
  width:30%;
  
}
.projectLink div:nth-of-type(1) {
  display: flex;
  justify-content: left;
  margin-left: 30px;
  width:70%;
  
}
.projectDiv {
  position:relative;
  display:flex;
  flex-direction: column;
  
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid gray;
  
}
.checkbox {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  border: 1px solid gray;
}
.deleteButton {
  color: white;
  border-style: none;
  background-color: white;
  margin: 0px 10px;
}
.deleteButton:hover {
  background-color: #EEF6FC;
  cursor: pointer;
  transition: 0.3s;
}
.deleteButton:hover img {
  transform: scale(1.2);
}
.show {
  display: block;
}
.hide {
  display: none;
}
.editInput {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  text-indent: 5px;
  border-style: none;
  font-size: 1em;
  width:100%;
}
.editInput:focus {
  outline: none;
}
.img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
}
.date {
  margin-left:10px;
}
.editting {
  background-color: #EEF6FC;
}