@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.navbar {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
}

.navbarLogo {
  display: grid;
  grid-template-columns: 70% 25%;
  padding: 10px 40px;

}
.navbarOthers {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 100px 100px 200px;
  padding: 10px 40px;
  padding: 10px 10px;
}
.navbarOthers div {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.navbarLogo a {
  margin-right: 1em;
  padding: 3px;
  text-decoration: none;
  transition: 0.3s;
}
.navbarLogo a:hover {
  color: blue;
}
.logo {
  display: flex;
  font-family: 'Lumanosimo', cursive;
  font-size: 2.5em;
  align-items: center;
}
.botao {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  text-align:left;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #455BED;
  color: white;
  text-decoration: none;
  border: none;
  height: 50px;
  font-size: 1em;
  width:165px;

}
.botao:hover{
  background-color: #049;;
  transition:0.3;
  color: white;
}
.botao span {
  position: absolute;
  color: white;
  top: 50%;
  left: 125px; /* Posiciona a seta para fora do botão no início */
  transform: translateY(-50%) ; /* Centraliza verticalmente a seta */
  transition: left 0.3s; /* Adiciona uma transição na propriedade left */
}

.botao:hover span {
  left: 130px; /* Posiciona a seta para a direita quando o mouse passa sobre o botão */
}

@media screen and (max-width: 1250px) {
  .navbarLogo {
    grid-template-columns: 60% 400px; /* Ajusta o layout para ocupar toda a largura */
  }
}
/* Estilos para telas pequenas */
@media screen and (max-width: 768px) {
  .navbar {
    font-size: 1em;
  }
  .navbarLogo {
    grid-template-columns: 58% 300px; /* Ajusta o layout para ocupar toda a largura */
  }
  .navbarOthers {
    grid-template-columns: 70px 70px 170px;
  }
}
@media screen and (max-width: 426px) {
  .navbarLogo {
    grid-template-columns: 40% 200px; /* Ajusta o layout para ocupar toda a largura */
  }
  .navbarOthers {
    grid-template-columns: 70px 70px 170px;
  }
}
@media screen and (max-width: 321px) {
  .navbarLogo {
    padding-left: 5px;
    grid-template-columns:33% 100px; /* Ajusta o layout para ocupar toda a largura */
  }
  .navbarOthers {
    grid-template-columns: 5px 5px 170px;
  }
  .navbarOthers > div:nth-of-type(1) {
    visibility: hidden;
  }
  .navbarOthers > div:nth-of-type(2) {
    visibility: hidden;
  }
}
